.playerSection {
  z-index: 5;
  padding: 10px;
  background-color: $grey;
}

#song {
  @include spacingFlex(row, space-between, center);
}

#songData {
  @include spacingFlex(row, flex-start, center);
  #playerImg {
    height: 70px;
    aspect-ratio: 1/1;
  }
  * {
    margin-right: 10px;
  }
}

#playerComands {
  @include centeringFlex;
  #playerButtons,
  #songTime {
    @include spacingFlex(row, space-around, center);
  }
}

#songTime {
  * {
    margin: 0 auto;
  }
}

#playerIcons {
  @include spacingFlex(row, flex-end, center);
  * {
    margin-left: 10px;
  }
}

#playbutton {
  font-size: 2em;
}
